@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .animation-pause {
        animation-play-state: paused;
    }
}

@layer base {
    @font-face {
        font-family: 'Mona Sans';
        src:
            url('../src/assets/Mona-Sans.woff2') format('woff2 supports variations'),
            url('../src/assets/Mona-Sans.woff2') format('woff2-variations');
        font-weight: 200 900;
        font-stretch: 75% 125%;
    }

    html {
        font-family: 'Mona Sans';
        scroll-behavior: smooth;
    }

    .stretch-125 {
        font-stretch: 125%;
    }

    .stretch-75 {
        font-stretch: 75%;
    }
}